* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #212121;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #292727;
    color: orange;
}

.header a {
    color: orange;
    padding: 10px;
    text-decoration: none;
}

.header a:hover {
    color: #ddd;
    text-decoration: none;
}


.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none; /* Hidden by default */
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    font-size: smaller;
    color: rgb(177, 177, 177);
}
.main-container {
    margin-top: 200px;
    margin-bottom: 200px;
}

.drop-down {
    display: none;
}

.drop-down.open {
    display: block;
    position: absolute;
    top: 90px;
    color: orange;
    background-color: #212121;
    width: 100%
}

.drop-down nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.drop-down nav a {
    display: block;
    padding: 10px;
    color: orange;
    text-decoration: none;
}

/* Style the content */
.content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    margin: 20px;
    transition: margin-left 0.3s;
    color: white;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 40px 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    background-color: #272626;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-element.text {
    max-width: 50%;
    min-width: 300px;
    color: orange;
}

.card-element h2 {
    margin-bottom: 5px;
}

.list {
    margin-top: 0;
}

.card-element button {
    background-color: #333;
    border-radius: 20px;
    color: orange;
    width: 100px;
    height: 30px;
    border: none;
    transition: transform 0.3s ease;
}

.card-element button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section {
    padding: 5%;
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 2em;
    margin-top: 20px;
}

.section h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

.section p, .section ul {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section.odd {
    background-color: #272626;
}

.section.even {
    background-color: #333;
}

.section a {
    color: #aba7a7;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.block {
    width: 100%;
    max-width: 1000px;
    border-radius: 20px;
    background-color: #272626;
    box-shadow: 0 4px 8px orange;
    color: orange;
}

.block p {
    margin: 2px;
}

.block-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-element.text {
    max-width: 50%;
    min-width: 300px;
    color: orange;
}


@media screen and (max-width: 700px) {
    .content {
        display: grid;
        grid-template-columns: auto;
        margin-left: 0;
    }
    .nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .section {
        max-width: 100%;
    }
    .section h1 {
        font-size: 2em;
    }
    .section h2 {
        font-size: 1.5em;
    }
    .section h3 {
        font-size: 1.2em;
    }
    .section p, .section ul {
        font-size: 1em;
    }
}