{% extends "template.html" %}

{% block title %}Explorer{% endblock %}

{% block content %}
<div class="block-explorer">
    <div class="block-nav">
        {% for height in block_heights %}
        <div class="block-nav-item" data-height="{{ height }}">{{ height }}</div>
        {% endfor %}
    </div>

    <div class="block-element block-search">
        <h2>Block Search</h2>
        <form action="/explore" method="post">
            <input name="block" type="text">
        </form>
    </div>
    
    <div class="block-container">
        <div class="block">
            <div class="block-element block-header">
                <h3>Block Header</h3>
                <p>ID: <span id="block-id">{{ clean_block.id }}</span></p>
                <p>Merkle Root: <span id="block-merkle-root">{{ clean_block.merkle_root }}</span></p>
                <p>Previous Block Hash: <span id="block-previousblockhash">{{ clean_block.previousblockhash }}</span></p>
                <p>Height: <span id="block-height">{{ clean_block.height }}</span></p>
                <p>Timestamp: <span id="block-timestamp">{{ clean_block.timestamp }}</span></p>
                <p>Nonce: <span id="block-nonce">{{ clean_block.nonce }}</span></p>
            </div>

            <div class="block-element block-body">
                <h3>Transactions <span id="block-tx-count">{{ clean_block.tx_count }}</span></h3>
                <div class="transaction-pool"></div>
            </div>

            <div class="block-element block-footer">
                <h3>Block Footer</h3>
                <p>Version: <span id="block-version">{{ clean_block.version }}</span></p>
                <p>Bits: <span id="block-bits">{{ clean_block.bits }}</span></p>
                <p>Difficulty: <span id="block-difficulty">{{ clean_block.difficulty }}</span></p>
                <p>Median Time: <span id="block-mediantime">{{ clean_block.mediantime }}</span></p>
                <p>Reward: <span id="block-reward">{{ clean_block.reward }}</span></p>
                <p>Median Fee: <span id="block-medianFee">{{ clean_block.medianFee }}</span></p>
                <p>Total Fees: <span id="block-totalFees">{{ clean_block.totalFees }}</span></p>
                <p>Mining Pool: <span id="block-pool-name">{{ clean_block.pool_name }}</span></p>
                <p>Weight: <span id="block-weight">{{ clean_block.weight }}</span></p>
                <p>Size: <span id="block-size">{{ clean_block.size }}</span></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}