{% extends "template.html" %}

{% block title %}Learn Bitcoin{% endblock %}

{% block content %}
<div class="content">

    <div class="card" id="use">
        <div class="card-element image">
            <img src="https://amoynahan89.github.io/learn_bitcoin/static/images/bitcoin-holo.png" alt="Bitcoin Logo" height="150px" width="150px">
        </div>
        <div class="card-element text">
            <h2>How to Use Bitcoin</h2>
            <form action="/use">
                <button class="card-button">Get Started</button>
            </form>
        </div>
    </div>

    <div class="card" id="learn">
        <div class="card-element image">
            <img src="https://amoynahan89.github.io/learn_bitcoin/static/images/bitcoin-holo.png" alt="Bitcoin Logo" height="150px" width="150px">
        </div>
        <div class="card-element text">
            <h2>How Bitcoin Works</h2>
            <form action="/learn">
                <button class="card-button">Learn More</button>
            </form>
        </div>
    </div>

    <div class="card" id="explore">
        <div class="card-element image">
            <img src="{{ image_url }}" alt="Bitcoin Logo" height="150px" width="150px">
        </div>
        <div class="card-element text">
            <h2>Blockchain Explorer</h2>
            <form action="/explore">
                <button class="card-button">Explore</button>
            </form>
        </div>
    </div>

    <div class="card" id="donate">
        <div class="card-element image">
            <img src="https://amoynahan89.github.io/learn_bitcoin/static/images/bitcoin-holo.png" alt="Bitcoin Logo" height="150px" width="150px">
        </div>
        <div class="card-element text">
            <h2>Donate</h2>
            <form action="/donate">
                <button class="card-button">Donate</button>
            </form>
        </div>
    </div>

    </div>

</div>
{% endblock %}