<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="css" rel="stylesheet" href="/static/css/styles_dark.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1><a href="/">Learn Bitcoin</a></h1>
        <nav class="nav">
            <a href="/use">Use Bitcoin</a>
            <a href="/learn">Learn More</a>
            <a href="/explore">Block Explorer</a>
            <a href="/donate">Donate</a>
        </nav>
        <span class="hamburger" onclick="toggleNav()">&#9776;</span>

        <div id="drop-down" class="drop-down">
            <nav>
                <a href="/use">Use Bitcoin</a>
                <a href="/learn">Learn More</a>
                <a href="/explore">Block Explorer</a>
                <a href="/donate">Donate</a>
            </nav>
        </div>
    </div>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/script.js"></script>
</body>
<footer>
    <a href="https://www.vecteezy.com/free-vector/bitcoin">Bitcoin Vectors by Vecteezy</a>
</footer>
</html>
