<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="css" rel="stylesheet" href="/static/css/styles_dark.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1><a href="/">Learn Bitcoin</a></h1>
        <a href="/donate">Donate</a>
        <!-- <button onclick="toggleTheme()"></button> -->
        <span class="hamburger" onclick="toggleNav()">&#9776;</span>
    </div>
    
    <div class="main-container">
        <div class="sidenav" id="sidenav">
            <a href="/intro">Intro</a>
            <a href="/get_started">Get Started</a>
            <a href="/guide">Guide</a>
            <a href="/technical">Technical</a>
            <a href="/history">History</a>
        </div>
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
